* {
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	background: -webkit-linear-gradient(#0099FF, white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#0099FF, #FFFFFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#0099FF, #FFFFFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#0099FF, #FFFFFF); /* Standard syntax */
	background-repeat: no-repeat;
	background-position:absolute;
	overflow-x: hidden;
	margin: 0px;
	width: auto;
}

section {
	margin: 0 auto;
	width: 80%;
}

header {
	width: 25%;
	margin-top: 2rem;
	/*margin-left: 2rem;*/
}

section article {
	width: 45%;
	float: left;
	margin-left: 5%;
	margin-top: 20em;
	line-height: 15px;
}

footer {
	width: 100%;
	text-align: center;
	margin-top: 5rem;
	float: left;
}

footer li {
	display: inline;
}

footer ul {
	list-style-type: none;
}